<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rearend.mapper.DataComparisonTableMapper">


    <insert id="insertDataComparison">
        INSERT INTO data_comparison_table (target_sample_name, compare_sample_name, step, comparison_time)
        VALUES (#{targetSampleName}, #{compareSampleName}, #{step}, now())
    </insert>
</mapper>